<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzf.demomybatis.mapper.SysUserMapper">
    <select id="queryAll" resultType="com.zzf.demomybatis.domain.SysUser">
        select * from t_user;
    </select>

    <insert id="saveSysUser" useGeneratedKeys="true" keyProperty="Id">
        insert into t_user(username,password) values (#{user.username},#{user.password})
    </insert>
</mapper>
